/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  margin-top: 30px;
}

h1 {
  text-align: center;
  color: #ff6600;
}
